
<%= link_to 'New Post', new_post_path if user_signed_in? %>

<div id="posts">

  <% @posts.each do |post| %>
    
    <div class="post <%= cycle('light', 'dark') %>">

      <h3><%= post.title%></h3>
      
      <p><span class="upvotes"><%= post.votes.where(:upvote => true).count %> UpVotes </span><br> <span class="downvotes"><%= post.votes.where(:downvote => true).count %> DownVotes</span></p>

      <p><strong>Posted by:</strong> <%= post.user.email %></p>
      <p><%= image_tag post.image, :width => '150px' %></p>
      <p><%= post.content%></p> <!-- truncate this  -->
      <%= link_to 'Read More', post %>
      
      <p><strong>Posted at: </strong><%= post.created_at%></p>
      


      

      <% if user_signed_in? %>

      <% vote = current_user.votes.new(:post_id => post.id) %>
        
        <%= form_for([post, vote]) do |f| %>
          <%= f.hidden_field :upvote, :value => true %>
          <%= f.submit 'Vote Up' %>
        <% end %>

        <%= form_for([post, vote]) do |f| %>
          <%= f.hidden_field :downvote, :value => true %>
          <%= f.submit 'Vote Down' %>
        <% end %>


        <%= link_to 'Edit', edit_post_path(post) if user_signed_in? && current_user == post.user %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? && current_user == post.user %>

        

      <% end %>

    </div>

  <% end %>

</div> <!-- end post div -->

